body {
    background: rgb(48, 177, 156);
    color: #fff;
    top: 21%;
    left: 13%;
    right: 20%;
    position: absolute;
    font-family: "Noto Sans SC", sans-serif;
}

a {
    border: 1px solid #e5effb;
    padding: 10px;
    border-radius: 13px;
    text-decoration: none;
    color: #e5effb;
    background: #556989;
}

.weather {
    background: #346b62;
    padding: 26px 26px 14px 26px;
    box-shadow: 0px 0px 12px 2px;
    display: block;
    border-radius: 10px;
    max-width: 380px;
}

#weather {
    background: white;
    color: firebrick;
    outline: none;
    font-size: 14px;
}

p {
    max-width: 300px;
}

h1 {
    color: white;
    display: block;
    padding: 2px 11px 3px 11px;
    text-align: center;
    box-shadow: -4px -5px 0px 0px;
    margin-bottom: 24px;
    max-width: 150px;
    font-size: 21px;
}

label {
    color: #46ffe1;
    font-size: 15px;
    margin-right: 20px;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
}
